body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    height: 50vh;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.img-info {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

h2 {
    color: rgb(2, 1, 1);
}

img {
    width: 100%;
    height: auto; /* Adjusted to maintain the image's aspect ratio */
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
