body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }
}
h2 {
    font-size: 65px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;

}
h3{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
}

.description{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 105vh; /* Set the height of the container to 105% of the viewport height */
    background-image: url('C:/Users/coolc/Downloads/subpenguin full band photo red.jpg');
    background-size: cover; /* Set background size to cover the entire container */
    background-position: center center;
    background-repeat: no-repeat;
}

.img-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.list {
    position: absolute;
    top: -2%; /* Adjust the vertical position */
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    align-items: center;
    gap: 240px; /* Adjust the gap between list items */
    padding: 0.5px 35px; /* Adjust the padding to increase the length of the navigation bar */
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    background-color: #0c0a0a;
    min-width: 600px; /* Set a minimum width for list items */
    white-space: nowrap; /* Prevent text wrapping */
}

.link {
    color: #fff;
    font-size: 16px;
    font-weight: 650;
    display: inline-block;
}

.name {
    position: absolute;
    top: 2%;
    color: #fff;
    font-weight: 800;
}

.icons-container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
}

.icon {
    text-align: center;
}

.icon img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    filter: brightness(90%);
    box-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    margin: 0 10px;
}
